*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}
body{
    background-color: #fdfdfd;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    background-color: grey;
    align-items: center;
}
.logo_img {
    margin-left: 15%;
    max-width: 400px;
    height: 100px;
}
.login {
    margin-right: 10%;
    font-size: 30px;
}
.block {
    border: 1px solid #000;
    margin: 5%;
}
.block_images {
    display: flex;
    justify-content: space-around;
}
.img {

    height: 150px;
    width: 250px;
    background-color: black;
    border: 1px solid #000;
}
.block_tema {
    margin-bottom: 15px;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background: grey;
}
/* .content{
    background-color: #ffffff;
    width: 60%;
    min-width: 450px;
    position: relative;
    margin: 50px auto;
    padding: 50px 20px;
    border-radius: 7px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.05);
}
input[type='file'] {
    display: none;
}

label {
    display: block;
    position: relative;
    background-color: #025bee;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    width: 300px;
    padding: 18px 0;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}
.container p {
    text-align: center;
    margin: 20px 0 30px 0; 
}
#images{
    width: 90%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}
figure{
     display: flex;
    justify-content: center;

    align-items: center;
    width: 45%;
}
img{
    
    max-width: 350px;

}

figcaption{
    margin: 10px;
    text-align: center;
    font-size: 2.4vmin;
    margin-top: 0.5vmin;
} */
